CREATE DATABASE [KingFastFood]
GO

USE [KingFastFood]
GO

-----------------------------------------------------------------------------------------
/****** Object:  Table [dbo].[CheBien] ******/
CREATE TABLE [dbo].[CheBien](
	[MaMA] [nchar](13) NOT NULL,
	[MANL] [nchar](13) NOT NULL,
	[SoLuong] [int] NOT NULL,
 	CONSTRAINT [PK_CheBien] PRIMARY KEY (MaMA, MANL)
) 
GO

/****** Object:  Table [dbo].[ChucVu] ******/

CREATE TABLE [dbo].[ChucVu](
	[MaCV] [nchar](13) NOT NULL,
	[TenCV] [nvarchar](30) NOT NULL,
 	CONSTRAINT [PK_ChucVU] PRIMARY KEY (MaCV)
) 
GO

/****** Object:  Table [dbo].[CTHD] ******/
CREATE TABLE [dbo].[CTHD](
	[MaHD] [nchar](13) NOT NULL,
	[MaMA] [nchar](13) NOT NULL,
	[SoLuong] [int] NOT NULL,
 	CONSTRAINT [PK_CTHD] PRIMARY KEY (MaHD, MaMA)
) 
GO

/****** Object:  Table [dbo].[CTPN] ******/
CREATE TABLE [dbo].[CTPN](
	[MaPhieuNhap] [nchar](13) NOT NULL,
	[MaNL] [nchar](13) NOT NULL,
	[SL_Nhap] [int] NOT NULL,
	CONSTRAINT [PK_CTPN] PRIMARY KEY (MaPhieuNhap, MaNL)
) 
GO

/****** Object:  Table [dbo].[HoaDon] ******/
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nchar](13) NOT NULL,
	[MaNV] [nchar](13) NOT NULL,
	[MaKH] [nchar](13) NOT NULL,
	[MaGiamGia] [nchar](13) NOT NULL,
	[NgayBan] [datetime] NOT NULL,
	[TongHoaDon] [float] NOT NULL,
	CONSTRAINT [PK_HoaDon] PRIMARY KEY (MaHD)
)
GO

/****** Object:  Table [dbo].[KhachHang] ******/
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nchar](13) NOT NULL,
	[TenKH] [nvarchar](30) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	CONSTRAINT [PK_KhachHang] PRIMARY KEY (MaKH)
)
GO

/****** Object:  Table [dbo].[MonAn] ******/
CREATE TABLE [dbo].[MonAn](
	[MaMA] [nchar](13) NOT NULL,
	[TenMA] [nvarchar](30) NOT NULL,
	[DonGia] [float] NOT NULL,
	[SoLuong] [int] NOT NULL,
 	CONSTRAINT [PK_MonAn] PRIMARY KEY (MaMA)
)
GO

/****** Object:  Table [dbo].[NguyenLieu] ******/
CREATE TABLE [dbo].[NguyenLieu](
	[MaNL] [nchar](13) NOT NULL,
	[TenNL] [nvarchar](30) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[PhanLoai] [nvarchar](30) NOT NULL,
	[DonVi] [nvarchar](10) NOT NULL,
	CONSTRAINT [PK_NguyenLieu] PRIMARY KEY (MaNL)
) 
GO

/****** Object:  Table [dbo].[NhaCungCap] ******/
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [nchar](13) NOT NULL,
	[TenNCC] [nvarchar](30) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
 	CONSTRAINT [PK_NhaCungCap] PRIMARY KEY (MaNCC)
) 
GO

/****** Object:  Table [dbo].[NhanVien] ******/
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nchar](13) NOT NULL,
	[MaCa] [nchar](13) NOT NULL,
	[MaCV] [nchar](13) NOT NULL,
	[TenNV] [nvarchar](30) NOT NULL,
	[CMND] [nchar](12) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	[ChiNhanh] [varchar](12) NOT NULL,
 	CONSTRAINT [PK_NhanVien] PRIMARY KEY (MaNV)
)
GO

/****** Object:  Table [dbo].[PhieuGiamGia] ******/
CREATE TABLE [dbo].[PhieuGiamGia](
	[MaGiamGia] [nchar](13) NOT NULL,
	[NoiDung] [nvarchar](30) NOT NULL,
	[TileGiam] [float] NOT NULL,
 	CONSTRAINT [PK_PhieuGiamGia] PRIMARY KEY (MaGiamGia)
) 
GO

/****** Object:  Table [dbo].[PhieuNhap] ******/
CREATE TABLE [dbo].[PhieuNhap](
	[MaPhieuNhap] [nchar](13) NOT NULL,
	[MaNCC] [nchar](13) NOT NULL,
	[NgayNhap] [date] NOT NULL,
 	CONSTRAINT [PK_PhieuNhap] PRIMARY KEY (MaPhieuNhap)
)
GO

/****** Object:  Table [dbo].[CaLamViec] ******/
-- CREATE TABLE [dbo].[CaLamViec](
-- 	[MaCa] [nchar](13) NOT NULL,
-- 	[TenCa] [nvarchar](30) NOT NULL,
-- 	[thoiGian] [nvarchar](30) NOT NULL,
--  	CONSTRAINT [PK_CaLamViec] PRIMARY KEY (MaCa)
-- ) 
-- GO

-----------------------------------------------------------------------------------------
-- Tạo ràng buộc toàn vẹn 
-- Bảng CheBien và Bảng MonAn
ALTER TABLE [dbo].[CheBien] 
ADD CONSTRAINT [FK_CheBien_MonAn] 
FOREIGN KEY([MaMA]) REFERENCES [dbo].[MonAn] ([MaMA])
GO

-- Bảng CheBien và Bảng NguyenLieu
ALTER TABLE [dbo].[CheBien] 
ADD CONSTRAINT [FK_CheBien_NguyenLieu] 
FOREIGN KEY([MANL]) REFERENCES [dbo].[NguyenLieu] ([MaNL])
GO

-- Bảng CTHD và Bảng HoaDon
ALTER TABLE [dbo].[CTHD] 
ADD CONSTRAINT [FK_CTHD_HoaDon] 
FOREIGN KEY([MaHD]) REFERENCES [dbo].[HoaDon] ([MaHD])
GO

-- Bảng CTHD và Bảng MonAn
ALTER TABLE [dbo].[CTHD] 
ADD CONSTRAINT [FK_CTHD_MonAn] 
FOREIGN KEY([MaMA]) REFERENCES [dbo].[MonAn] ([MaMA])
GO

-- Bảng CTPN và Bảng NguyenLieu
ALTER TABLE [dbo].[CTPN]
ADD CONSTRAINT [FK_CTPN_NguyenLieu] 
FOREIGN KEY([MaNL]) REFERENCES [dbo].[NguyenLieu] ([MaNL])
GO

-- Bảng CTPN và Bảng PhieuNhap
ALTER TABLE [dbo].[CTPN] 
ADD CONSTRAINT [FK_CTPN_PN] 
FOREIGN KEY([MaPhieuNhap]) REFERENCES [dbo].[PhieuNhap] ([MaPhieuNhap])
GO

-- Bảng HoaDon và Bảng KhachHang
ALTER TABLE [dbo].[HoaDon]
ADD CONSTRAINT [FK_HoaDon_KhachHang] 
FOREIGN KEY([MaKH]) REFERENCES [dbo].[KhachHang] ([MaKH])
GO

-- Bảng HoaDon và Bảng NhanVien
ALTER TABLE [dbo].[HoaDon] 
ADD CONSTRAINT [FK_HoaDon_NhanVien] 
FOREIGN KEY([MaNV]) REFERENCES [dbo].[NhanVien] ([MaNV])
GO

-- Bảng HoaDon và Bảng PhieuGiamGia
ALTER TABLE [dbo].[HoaDon] 
ADD CONSTRAINT [FK_HoaDon_PhieuGiamGia]
FOREIGN KEY([MaGiamGia]) REFERENCES [dbo].[PhieuGiamGia] ([MaGiamGia])
GO

-- Bảng NhanVien và Bảng ChucVu
ALTER TABLE [dbo].[NhanVien] 
ADD  CONSTRAINT [FK_NhanVien_ChucVU]
FOREIGN KEY([MaCV]) REFERENCES [dbo].[ChucVu] ([MaCV])
GO

-- Bảng PhieuNhap và Bảng NhaCungCap
ALTER TABLE [dbo].[PhieuNhap] 
ADD CONSTRAINT [FK_PhieuNhap_NhaCungCap] 
FOREIGN KEY([MaNCC]) REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO

-- Bảng NhanVien và Bảng CaLamViec
-- ALTER TABLE [dbo].[NhanVien] 
-- ADD  CONSTRAINT [FK_NhanVien_CaLamViec] 
-- FOREIGN KEY([MaCa]) REFERENCES [dbo].[CaLamViec] ([MaCa])
-- GO

-----------------------------------------------------------------------------------------
-- Nhập dữ liệu cho các bảng
-- Bảng ChucVu
INSERT [dbo].[ChucVu] ([MaCV], [TenCV]) VALUES (N'AD', N'Chủ nhà hàng')
INSERT [dbo].[ChucVu] ([MaCV], [TenCV]) VALUES (N'BP', N'Bếp phó')
INSERT [dbo].[ChucVu] ([MaCV], [TenCV]) VALUES (N'BT', N'Bếp trưởng')
GO

-- Bảng NhanVien
INSERT [dbo].[NhanVien] ([MaNV], [MaCa], [MaCV], [TenNV], [CMND], [SDT], [ChiNhanh]) VALUES (N'NV002', N'FU1', N'BP', N'Quang Ngọc Trinh', N'079202034889', N'0909029548', 'MIENBAC')
INSERT [dbo].[NhanVien] ([MaNV], [MaCa], [MaCV], [TenNV], [CMND], [SDT], [ChiNhanh]) VALUES (N'NV012', N'FU2', N'BT', N'Quang Ngọc', N'08702034889', N'0349029548', 'MIENBAC')
INSERT [dbo].[NhanVien] ([MaNV], [MaCa], [MaCV], [TenNV], [CMND], [SDT], [ChiNhanh]) VALUES (N'NV004', N'PA1', N'KTT', N'Quốc Ân', N'079202022222', N'0202054988', 'MIENBAC')
GO

-- Bảng KhachHang
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT]) VALUES (N'KH000', N'Khách hàng vãng lại', N'0909098687')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT]) VALUES (N'KH001', N'Trần Quang Long', N'0909029548')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT]) VALUES (N'KH002', N'Hồ Sĩ Minh', N'0202054922')
GO

-- Bảng PhieuGiamGia
INSERT [dbo].[PhieuGiamGia] ([MaGiamGia], [NoiDung], [TileGiam]) VALUES (N'GIAMGIA10', N'Giảm giá 10%', 0.1)
INSERT [dbo].[PhieuGiamGia] ([MaGiamGia], [NoiDung], [TileGiam]) VALUES (N'GIAMGIA15', N'Giảm giá 15%', 0.15)
INSERT [dbo].[PhieuGiamGia] ([MaGiamGia], [NoiDung], [TileGiam]) VALUES (N'GIAMGIA20', N'Giảm giá 20%', 0.2)
GO

-- Bảng NhaCungCap
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDT], [DiaChi]) VALUES (N'ATA', N'Atana Tatic Action', N'0129548726', N'299/4 Tân Thuận Mỹ, Q9, TpHCM')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDT], [DiaChi]) VALUES (N'AVA', N'Action Venti Asstis', N'0905294874', N'199/12 Nguyễn Lâm Đồng, Q4, TpHCM')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDT], [DiaChi]) VALUES (N'PA', N'Penta Asstis', N'0909020594', N'174/4 An Dương Vương, Q5, TpHCM')
GO

-- Bảng PhieuNhap
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [MaNCC], [NgayNhap]) VALUES (N'PN0001', N'ATA', CAST(N'2021-12-12' AS Date))
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [MaNCC], [NgayNhap]) VALUES (N'PN0002', N'PA', CAST(N'2022-12-21' AS Date))
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [MaNCC], [NgayNhap]) VALUES (N'PN0003', N'PTP ', CAST(N'2022-12-22' AS Date))
GO

-- Bảng NguyenLieu
INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [SoLuong], [PhanLoai], [DonVi]) VALUES (N'BUT1', N'Bơ', 144, N'Bơ', N'kg')
INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [SoLuong], [PhanLoai], [DonVi]) VALUES (N'FLO1', N'Bột chiên giòn', 421, N'Bột', N'kg')
INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [SoLuong], [PhanLoai], [DonVi]) VALUES (N'FLO2', N'Bột mì số 8', 10, N'Bột', N'kg')
GO

-- Bảng MonAn
INSERT [dbo].[MonAn] ([MaMA], [TenMA], [DonGia], [SoLuong]) VALUES (N'BE01', N'Bánh mì nướng tiêu đen', 15000, 22)
INSERT [dbo].[MonAn] ([MaMA], [TenMA], [DonGia], [SoLuong]) VALUES (N'CHI01', N'Gà nướng tỏi', 125000, 10)
INSERT [dbo].[MonAn] ([MaMA], [TenMA], [DonGia], [SoLuong]) VALUES (N'CHI02', N'Gà chiên nước mắm', 75000, 20)
GO

-- Bảng HoaDon
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [MaGiamGia], [NgayBan], [TongHoaDon]) VALUES (N'HD0001', N'NV004', N'KH001', N'KHONG', CAST(N'2022-12-22T17:22:17.000' AS DateTime), 30000)
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [MaGiamGia], [NgayBan], [TongHoaDon]) VALUES (N'HD0002', N'NV002', N'KH004', N'KHONG', CAST(N'2022-12-30T13:12:05.000' AS DateTime), 310000)
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [MaGiamGia], [NgayBan], [TongHoaDon]) VALUES (N'HD0003', N'NV002', N'KH001', N'GIAMGIA10', CAST(N'2022-11-09T08:12:01.000' AS DateTime), 1026000)
GO

-- Bảng CheBien
INSERT [dbo].[CheBien] ([MaMA], [MANL], [SoLuong]) VALUES (N'BE01', N'FLO3', 3)
INSERT [dbo].[CheBien] ([MaMA], [MANL], [SoLuong]) VALUES (N'BE01', N'OIL1', 1)
INSERT [dbo].[CheBien] ([MaMA], [MANL], [SoLuong]) VALUES (N'BE01', N'OR1',1)
GO

-- Bảng CTHD
INSERT [dbo].[CTHD] ([MaHD], [MaMA], [SoLuong]) VALUES (N'HD0001', N'BE01', 2)
INSERT [dbo].[CTHD] ([MaHD], [MaMA], [SoLuong]) VALUES (N'HD0002', N'BE01', 2)
INSERT [dbo].[CTHD] ([MaHD], [MaMA], [SoLuong]) VALUES (N'HD0002', N'CHI01', 2)
GO

-- Bảng CTPN
INSERT [dbo].[CTPN] ([MaPhieuNhap], [MaNL], [SL_Nhap]) VALUES (N'PN0001', N'BUT1', 100)
INSERT [dbo].[CTPN] ([MaPhieuNhap], [MaNL], [SL_Nhap]) VALUES (N'PN0001', N'FLO1', 200)
INSERT [dbo].[CTPN] ([MaPhieuNhap], [MaNL], [SL_Nhap]) VALUES (N'PN0001', N'MEA4', 50)
GO

-- Bảng CaLamViec
-- INSERT [dbo].[CaLamViec] ([MaCa], [TenCa], [thoiGian]) VALUES (N'FU1', N'Fulltime sáng', N'6:00 - 14:00')
-- INSERT [dbo].[CaLamViec] ([MaCa], [TenCa], [thoiGian]) VALUES (N'FU2', N'Fulltime chiều', N'14:00 - 22:00')
-- INSERT [dbo].[CaLamViec] ([MaCa], [TenCa], [thoiGian]) VALUES (N'PA1', N'Parttime sáng', N'8:00 - 14:00')
-- INSERT [dbo].[CaLamViec] ([MaCa], [TenCa], [thoiGian]) VALUES (N'PA2', N'Parttime', N'16:00 - 22:00')
-- GO